body {
    /*width: 1200px;*/
}

.header {
    display: flex;
    width: 960px;
    justify-content: center;
    margin-left: 200px;
}


img {
    height: 150px;
    /*width: 500px;*/

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



li {
    display: inline-block;
    border: 1px black solid;
}
a {
    text-decoration: none;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 550px;
    position: relative;
    left: 440px;
    height:550px;
}

.box p {
    text-align: center;
}

form {
    text-align: center;
}

.b p {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.d p,h3 {
    position: relative;
    text-align:center;
    font-family: 'Lato', sans-serif;
}

.b h2 {
    text-align:center;
    font-family: 'Lato', sans-serif;
}

.d h2 {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.item1 img{
    /* width:400px;*/
    flex-basis: 40%;
    /*height: auto;*/
    margin: 10px;

}

.item2 img{
    /* width:400px;*/
    flex-basis: 40%;
    /*height: auto;*/
    margin: 10px;

}

.item3 img{
    /* width:400px;*/
    flex-basis: 40%;
    /*height: auto;*/
    margin: 10px;

}

.item4 img{
    /* width:400px;*/
    flex-basis: 40%;
    /*height: auto;*/
    margin: 10px;
}

.item5 img{
    /* width:400px;*/
    flex-basis: 40%;
    /*height: auto;*/
    margin: 10px;

}

.item6 img{
    /* width:400px;*/
    flex-basis: 40%;
    /*height: auto;*/
    margin: 10px;

}

#a {
    text-align: center;
}

#ab {
    text-align: center;
    margin: 10px;
}

footer {
    text-align: center;
}
